<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
    <h1>SpringMvc + Spring Security + Thymeleaf Annotation</h1><br>
    <a th:href="@{/user}">User page</a><br>
    <a th:href="@{/admin}">Admin page</a><br>
    <form th:action="@{/logout}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" value="Logout" />
    </form>
</body>
</html>